body{
    background-color: #E7F6F2;
    margin: 0%;
}


h1{
    font-size: large;
    color: #395B64;
    font-weight: 600;
    text-align: center;
    padding: 7% 15%;
}

.container{
    margin: 0%;
    text-align: center;
    margin-top: 25px;
    width: auto;
    padding: 20% 15%;
}
table{
    margin: auto;
}
th, td {
    padding: 7px;
    
  }
input{
    border: 3px solid ;
    border-radius: 4px;
    font-size: 38px;
    width: 270px;
    height: 58px;
}
button{
    font-size: 25px;
    background-color: #A5C9CA;
    width: 81px;
    height: 58px;
}

.calculator{
    box-sizing: border-box;
    border-radius: 9px;
    padding: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0,0.6);
    display: inline-block;
}




footer{
     
    
    font-size: large;
    color: #A5C9CA;
    font-weight: 600;
    text-align: center;
    padding: 7% 15%;

}